<form action='/users' method='POST'>
  <label>Name</label>
  <input type="text" name="user[name]">

  <label>Email</label>
  <input type="email" name="user[email]">

  <label>Password</label>
  <input type="password" name="user[password]">

  <label>Password</label>
  <input type="password" name="user[password_confirmation]" placeholder="Enter password again">
  <input type="submit">
</form>
